/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    /*padding-top: 65px;*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
}


.row {
    text-align:center;
    justify-content:center;
}
/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

th {
    background-color: #754675;
    color: white;
}

.purple_bar {
    height: 50px;
    background-color: #754675;
    /* border-color: black;
            border-style: solid;*/
}

.imgNavbar {
    align-content: flex-start;
}

.info-vak {
    height: 250px;
    border-color: black;
    border-collapse: collapse;
    border-style: solid;
    border-radius: 1px;
}

.img-hover {
    max-width: 25em;
    height: auto;
    position: relative;
    margin: 1.563em auto;
}

    .img-hover a {
        text-decoration: none;
        color: black;
        cursor: default;
        font-weight: normal;
    }

        .img-hover a span {
            visibility: hidden;
            position: absolute;
            left: 15em;
            top: -2.3em;
            background: #ffff6b;
            width: 17em;
            border: 1px solid #404040;
            font-size: 0.8em;
            padding: 0.3em;
            cursor: default;
            line-height: 140%;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

.noFlexGrow {
    flex-grow: inherit;
}