<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]FontysVIP</title>
    <environment include="Development">

        <link href="~/lib/bootstrap/dist/css/bootstrap_lux.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">

        <link href="~/lib/bootstrap/dist/css/bootstrap_lux.css" rel="stylesheet" />
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="~/images/fontyslogo.png" height="50" alt="Fontys Hogescholen" class="imgNavbar" />

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="nav navbar-nav mr-auto">
                @if (User.IsInRole("Teamleider"))
                {
                    <li class="nav-item"><a asp-area="" asp-controller="Voorkeur" asp-action="Voorkeur" class="nav-link">Bekwaamheid Toevoegen</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="Voorkeur" asp-action="VoorkeurUitslag" class="nav-link">Bekwaam Voor</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="team" asp-action="Index" class="nav-link">Team Overzicht</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="team" asp-action="VoegDocentToe" class="nav-link">Docent Toevoegen</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="team" asp-action="DocentenInTeam" class="nav-link">Docenten in Team</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="team" asp-action="VacatureOverzicht" class="nav-link">Vacatures</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="team" asp-action="FixerenOverzicht" class="nav-link">Fixeren overzicht</a></li>

                }
                else if (User.IsInRole("Blokeigenaar"))
                {
                    <li class="nav-item"><a asp-area="" asp-controller="Blokeigenaar" asp-action="Index" class="nav-link">BlokInfo</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="Blokeigenaar" asp-action="TaakToevoegen" class="nav-link">Taak Toevoegen</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="Voorkeur" asp-action="Voorkeur" class="nav-link">Bekwaamheid Toevoegen</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="Voorkeur" asp-action="VoorkeurUitslag" class="nav-link">Bekwaam Voor</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="team" asp-action="FixerenOverzicht" class="nav-link">Fixeren overzicht</a></li>
                    @*<li class="nav-item"><a asp-area="" asp-controller="team" asp-action="Fixeren" class="nav-link">Fixeren</a></li>*@

                }
                else if (User.IsInRole("Docent"))
                {
                    <li class="nav-item"><a asp-area="" asp-controller="Voorkeur" asp-action="VoorkeurUitslag" class="nav-link">Bekwaam Voor</a></li>

                }
            </ul>

            <partial name="_LoginPartial" />
        </div>
    </nav>
    <div class="purple_bar"></div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="fixed-bottom">
            <p>&copy; 2019 - FontysVIP</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>