@{
    ViewData["Title"] = "Hoofdpagina";
}
<div class="container h-100">
    <img src="~/images/logo.png" class="img-fluid mx-auto d-block" alt="Responsive image" height="40%" width="40%">
</div>

<html>
<body></body>
</html>