@using Model
@model IEnumerable<Algoritme>

@{
    ViewData["Title"] = "ActiverenSysteem";
}

<h2>ActiverenSysteem</h2>
<table>
    <thead>
        <tr>
            <th>Taak</th>
            <th>Docent</th>
            <th>Score</th>
        </tr>x
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Where(x=> x.Docent.DocentId != null).Count()-1; i++)
        {
            @foreach (var item in Model.Where(e => e.Taak.TaakId == i))
            {
                @if (item.Docent.DocentId != null)
                {
                    <tr>
                       
                        <td>@item.Taak</td>
                        <td>@item.Docent</td>
                        <td>TODO</td>
                    </tr>

                }
                else
                {
                    <tr>
                        <td>@item.Taak</td>
                        <td colspan="3" style="color: Red">0 resultaten</td>
                    </tr>
                }
            }
            <tr style="background-color: #754675">
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>