@using Logic
@model Model.Team

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Details van team: @Html.DisplayFor(model => model.TeamId).</h2>
<div>TeamLeider:@Html.DisplayFor(model => model.TeamleiderNaam)</div>
<div>Curriculum Eigenaar: @Html.DisplayFor(model => model.CurriculumEigenaarNaam)</div>