@model Model.Team

@{
    ViewData["Title"] = "Edit";
    // TODO: Dropdown voor Teamleider en CU Eigenaar
}

<h2>Edit</h2>

<h4>Team @Model.TeamId</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <input asp-for="TeamId" class="form-control" />
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamleiderID" class="control-label"></label>
                <input asp-for="TeamleiderID" class="form-control" />
                <span asp-validation-for="TeamleiderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurriculumEigenaarID" class="control-label"></label>
                <input asp-for="CurriculumEigenaarID" class="form-control" />
                <span asp-validation-for="CurriculumEigenaarID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
