@model Model.Team

@{
    ViewData["Title"] = "TeamOverzicht";
}

<h2>TeamOverzicht</h2>

<div class="row">
    <div class="col-xs-6 col-sm-3">
        <h6>Team ID</h6>
    </div>

    <div class="col-xs-6 col-sm-3">
        <h6>Teamleider Naam</h6>
    </div>

    <div class="col-xs-6 col-sm-3">
        <h6></h6>
    </div>
    <div class="col-xs-6 col-sm-3">
        <h6> </h6>
    </div>
    
    
        <div class="col-xs-6 col-sm-3">
            @Html.DisplayFor(model => model.TeamId)
        </div>

        <div class="col-xs-6 col-sm-3">
            @Html.DisplayFor(model => model.TeamleiderNaam)
        </div>

        <div class="col-xs-6 col-sm-3">
            
        </div>
        <div class="col-xs-6 col-sm-3">
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Bekijk Team", "DocentenInTeam", new { id = Model.TeamId })
        </div>

    
</div>