
@using Model
@model List<Voorkeur>

@{
    ViewData["Title"] = "VoorkeurUitslag";
}

<h2>Voorkeur uitslag</h2>

<div class="row">
    @foreach (Voorkeur vk in Model)
    {
        <div class="col-xs-6 col-sm-3">
            <strong>@vk.Vak_naam</strong>
        </div>

        <div class="col-xs-6 col-sm-3">
            @vk.Prioriteit
        </div>
        <div class="col-xs-6 col-sm-3">
            @Html.ActionLink("Delete", "Delete","Voorkeur", new { id = vk.Id  }) |
        </div>
    }
</div>


<a asp-action="Index">Terug</a>