
@using Model
@model List<Voorkeur>

@{
    ViewData["Title"] = "VoorkeurUitslag";
}

<h2>Voorkeur uitslag</h2>

<div>
    <table>
        <tr>
            <th>Inzet Item</th>
            <th>Prioriteit</th>
        </tr>
        @foreach (Voorkeur vk in Model)
        {
            <tr>
                <td>@vk.Vak_naam</td>
                <td>@vk.Prioriteit</td>
                <td><div class="tooltip">?<span class="tooltiptext">Informatie over het vak... @*@vk.Vak_Info*@</span></div></td>
            </tr>
        }
    </table>
</div>
<a asp-action="Index">Terug</a>