
@using Model
@model List<Voorkeur>

@{
    ViewData["Title"] = "VoorkeurUitslag";
}

<h2>Voorkeur uitslag</h2>

<div>
    <table>
        <tr>
            <th>Inzet Item</th>
            <th>Prioriteit</th>
            <th>Opties</th>

        </tr>
        @foreach (Voorkeur vk in Model)
        {
            <tr>
                <td>@vk.Vak_naam</td>
                <td>@vk.Prioriteit</td>
                <td>
                    <div class="col-xs-6 col-sm-3">
                        @Html.ActionLink("Delete", "Delete", "Voorkeur", new { id = vk.Id }) |
                    </div>
                </td>
            </tr>
        }
    </table>
</div>